* {
  font-family: "Cabin", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: #33393f;
  font-family: "Cabin", sans-serif;
}

.container {
  position: relative;
}

.header {
  position: absolute;
  top: 0.8rem;
  left: 1.6rem;
  font-size: 5rem;
  padding: 2.5rem;
  color: ivory;
  font-family: "Cabin", sans-serif;
}

.header::after {
  font-family: "Cabin", sans-serif;
  font-weight: bolder;
  content: "Devlin";
  color: rgb(182, 55, 182);
  margin-left: 5px;
  font-style: italic;
}
.quote {
  position: absolute;
  bottom: 50px;
  right: 100px;
  font-size: 1.5rem;
  color: ivory;
  /* background-color: rgba(190, 65, 190, 0.479); */
  font-family: "Cabin", sans-serif;
  text-align: center;
  width: 300px;
}

img {
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
  opacity: 1;
  /* filter: saturate(0); */
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2.5rem;
}

li a:hover {
  background-color: hotpink;
  color: black;
}

main {
  display: inline-block;
  width: 100%;
  padding: 30px;
}

.contentcontainer {
  display: flex;
  width: 100%;
}

.title {
  font-size: 7rem;
  color: rgb(182, 55, 182);
  border-right: 5px solid rgb(182, 55, 182);
  justify-self: flex-start;
  text-align: right;
  align-items: center;
  height: 100%;
  padding: 10px;
  width: 25%;
}

.content {
  width: 75%;
  display: flex;
}

section p {
  font-size: 1.75rem;
  color: ivory;
  padding-left: 5rem;
  text-align: center;
  width: auto;
  margin-top: 0rem;
  padding-bottom: 10rem;
}

.contact a {
  font-size: 3rem;
  color: ivory;
  text-decoration: none;
  text-align: center;
  width: auto;
}

.card-container {
  position: relative;
}

.card-header {
  position: absolute;
  bottom: 0.5rem;
  left: 0rem;
  background-color: rgb(182, 55, 182);
  padding: 0.5rem;
  color: ivory;
  font-size: 1.75rem;
}

.card-body {
  display: inline-flex;
  border: 1rem solid rgb(182, 55, 182);
  padding: 0rem;
  /* margin: 0.5rem; */
}

.main-project {
  display: flex;
  align-content: center;
  width: auto;
}
