* {
  font-family: "Cabin", sans-serif;
  font-size: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: rgb(0, 0, 0);
  color: ivory;
}

h1 {
  font-size: 250%;
  font-family: "Cabin", sans-serif;
}

h1::after {
  font-family: "Cabin", sans-serif;
  font-weight: bolder;
  content: "Devlin";
  color: rgb(27, 138, 172);
  margin-left: 5px;
}

nav ul {
  font-family: "Kanit", sans-serif;
  display: flex;
  justify-content: space-between;
  min-width: 275px;
}

nav a {
  color: ivory;
  font-weight: bold;
  text-decoration: none;
}

.background {
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(https://images.unsplash.com/photo-1486551937199-baf066858de7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=846&q=80);
  background-size: cover;
  background-position: center;
}
aside {
}
